body {
  color: #FFF;
}

h2, h3, h4, h5 {
  line-height: 77px;
/* Facing a buy-out? Le: */
text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;

}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.map-link {
  text-decoration: none;
  float: right;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Helvetica Neue' !important;
  top: -6px;
  left: 10px;
  position: relative;
}


.back {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  z-index: 5 !important;
}


h2 {
  margin-top: 80px;
  margin-bottom: 50px;
}

h3, h4 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}

.center {
  text-align: center;
  margin: 0 auto;
  width: 95%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}
.logo {
  width: 100%;
  background-color: #FFF;
}

.logo img {
  max-width:40%;
  margin-left: 2.5%;
  margin-top: 10px;
}

.sapUiBtnS {
  font-family: 'Helvetica Neue' !important;
  color: white !important;
  font-size: 1.1em !important;
  padding-right: 3% !important;
  padding-left: 3% !important;
  height: 40px !important;
  background: #006CB2 !important;
  border: 0px solid rgba(0,0,0,0.0)!important;
}

.btn-info {
  color: white;
  display: block;
  /*margin: 0 auto !important;*/
  text-align: center;
}

label {
  display: inline-block;
}
input {
  color: #000;
}

td {
  font-size: .75em !important;
}

@media (min-width: 400px) {
    .logo img {
    max-width: 150px;
    margin-left: 2.5%;
    margin-top: 10px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .logo img {
    max-width: 200px;
    margin-left: 2.5%;
    margin-top: 10px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .logo img {
    max-width: 250px;
    margin-left: 2.5%;
    margin-top: 10px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}
