<div class="center">
  <h1>Useful Resources</h1>

  <div class="grid">
    <h2>Eviction Defence Collaborative</h2>
    <h3>
      <strong>What it is good for?</strong>
      EDC is a drop-in legal clinic that helps with low-income tenants to respond to eviction lawsuits. You can find out more information on their website <a target="_blank" href="http://evictiondefense.org/">HERE</a>. Their hours are Mon - Fri 9:30AM-11:30AM, 1PM-3PM and their office address is:
      995 Market Street #1200
      San Francisco, CA 94103
    </h3>
  </div>

  <div class="grid">
    <h2>Eviction Process Flowchart</h2>
    <h3>
      <strong>What it is good for?</strong>
      The site page provides a general eviction process notice chart. Actual procedures in San Francisco might be different. View chart <a target="_blank" href="http://www.szetolawgroup.com/EvictionFlowChart-FINAL.htm">HERE</a>.
    </h3>
  </div>

  <div class="grid">
    <h2>San Francisco Tenants Union</h2>
    <h3>
      <strong>What it is good for?</strong>
      The tenants union provides general information and counseling services to tenents in San Francisco. Visit their website <a target="_blank" href="http://www.sftu.org/">HERE</a>. And their office address is:
      558 Capp Street
      San Francisco, CA 94110
    </h3>
  </div>

  <div class="grid">
    <h2>Housing Rights Committee of San Francisco</h2>
    <h3>
      <strong>What it is good for?</strong>
      The housing rights committee can help you if you live in San Francisco and you're having a problem (such as an illegal rent increase, evictions, roommate problems, mold and other repair issues, etc.), the committee can try and help you. Visit their website <a target="_blank" href="http://www.hrcsf.org/">HERE</a>. Their counseling hours are Mon-Thurs 1-5pm and office address is:
      417 South Van Ness
      San Francisco, CA 94103
    </h3>
  </div>

  <div class="grid">
    <h2>City & County of San Francisco Rent Board</h2>
    <h3>
      <strong>What it is good for?</strong>
      The San Francisco Rent Ordinance regulates rents and evictions for certain residential rental units in San Francisco. The Rent Board's primary function is to conduct hearings and mediations of tenant and landlord petitions regarding the adjustment of rents under the City's rent control laws. Visit their website <a target="_blank" href="http://www.sfrb.org/">HERE</a>. They have weekday counseling hours 8AM - 5PM.
    </h3>
  </div>

  <div class="grid">
    <h2>City & County of San Francisco Rent Board</h2>
    <h3>
      <strong>What it is good for?</strong>
      The San Francisco Rent Ordinance regulates rents and evictions for certain residential rental units in San Francisco. The Rent Board's primary function is to conduct hearings and mediations of tenant and landlord petitions regarding the adjustment of rents under the City's rent control laws. Visit their website <a target="_blank" href="http://www.sfrb.org/">HERE</a>. They have weekday counseling hours 8AM - 5PM.
    </h3>
  </div>

  <div class="grid">
    <h2>Map Visualization of Buyouts in San Francisco</h2>
    <h3>
      <strong>What it is good for?</strong>
      <a target="_blank" href="http://www.antievictionmappingproject.net">The Anti-Eviction Mapping Project</a> collaborated with the SF Tenants Union and used the data between Janurary of 2006 till August of 2014 to created this interactive map for you to view all the buyout activities that has taken place. You can view the project <a target="_blank" href="http://www.antievictionmappingproject.net/buyouts.html">HERE</a>.
    </h3>
  </div>

  <div class="grid">
    <h2>How to Negotiate a Buyout From a Landlord</h2>
    <h3>
      <strong>What it is good for?</strong>
      <a target="_blank" href="http://www.antievictionmappingproject.net">The article</a> provides some suggestions on strategies to use when dealing with buyout offers. You can view the guide <a target="_blank" href="http://www.thebolditalic.com/articles/4920-how-to-negotiate-a-buyout-from-a-landlord">HERE</a>.
    </h3>
  </div>

</div>