<img class="bg" src="/imgs/sunset.jpeg">

<h3>Tell us about you & your home</h3>
</div>

<div class="questions">
    <h5>Your buyout & rent:</h5>
    <div class="form-group">
        <div class="form item">
            <label for="yearlyIncome">What is your household's total monthly income?</label>
            <input type="text" class="form-control" name="address" ng-model="formData.yearly_income" >
        </div>

        <div class="form item">
            <label for="offer">How much were you offered as a buy out?</label>
            <input type="text" class="form-control" name="address" ng-model="formData.offer_price" >
        </div>

        <div class="form item">

            <label for="currentRent">What is your current monthly rent?</label>
            <input type="text" class="form-control" name="address" ng-model="formData.current_monthly_rent" >
        </div>
    </div>


    <h5>Your current San Francisco address:</h5>

    <div class="form-group">
        <div class="form-item">
            <label for="address">Street Address</label>
            <input type="text" class="form-control" name="address" ng-model="formData.street_address" >
        </div>

        <div class="form-item">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" ng-model="formData.zip" >
        </div>
    </div>
</div>





<div class="form-item row">
    <div class="col-xs-6 col-xs-offset-3">
        <button ng-click="submitAddressInfo(formData)" ui-sref="form.offer" class="btn btn-block btn-info">
            Submit offer information <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </button>
    </div>
</div>